* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #444;
}

header {
    background-color: #444444;
    width: 100%;
    min-height: 40px;
    height: auto;
    padding: 0.6em 0.9em;
    margin: 0;
    font-size: 1em;
    color: #ffffff;

}



.bgd-filter {
    background-color: darkgray;
    width: 100%;
    min-height: 40px;
    height: auto;
    padding: 0.6em 0.9em;

}

.bgd-afbeeldingen {
    background-color: ghostwhite;
    width: 100%;
    height: auto;
}


section {
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 60em;
    margin: auto;

}

fieldset {
    border: none;
}

/*afbeeldingen stylen*/
.geel,
.blauw,
.rood,
.roze {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1em;
    max-width: 20em;
    max-height: 10em;
    margin: 0.5em;
}

/* checkbox stylen */
input[type=checkbox] + label {
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 2px solid #fff;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-top: 0.1em;
    padding-left: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
/*    margin-right: 0.4em;*/
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox] + label#geel:before {
    background-color: yellow;
}

input[type=checkbox]:checked + label#geel:before {
    color: burlywood;
}


input[type=checkbox] + label#blauw:before {
    background-color: deepskyblue;
}

input[type=checkbox]:checked + label#blauw:before {
    color: dodgerblue;
}


input[type=checkbox] + label#rood:before {
    background-color: red;
}

input[type=checkbox]:checked + label#rood:before {
    color: brown;
}


input[type=checkbox] + label#roze:before {
    background-color: pink;
}

input[type=checkbox]:checked + label#roze:before {
    color: hotpink;
}
